.fib,.fi{background-size:contain;background-position:50%;background-repeat:no-repeat}.fi{position:relative;display:inline-block;width:1.333333em;line-height:1em}.fi:before{content:" "}.fi.fis{width:1em}
.fi-zw{background-image:url(assets/flags/4x3/zw.svg)}
.fi-za{background-image:url(assets/flags/4x3/za.svg)}
.fi-eg{background-image:url(assets/flags/4x3/eg.svg)}
.fi-ma{background-image:url(assets/flags/4x3/ma.svg)}
.fi-co{background-image:url(assets/flags/4x3/co.svg)}
.fi-mx{background-image:url(assets/flags/4x3/mx.svg)}
.fi-ve{background-image:url(assets/flags/4x3/ve.svg)}
.fi-ru{background-image:url(assets/flags/4x3/ru.svg)}
.fi-it{background-image:url(assets/flags/4x3/it.svg)}
.fi-es{background-image:url(assets/flags/4x3/es.svg)}
.fi-fr{background-image:url(assets/flags/4x3/fr.svg)}
.fi-de{background-image:url(assets/flags/4x3/de.svg)}
.fi-gb{background-image:url(assets/flags/4x3/gb.svg)}
.fi-at{background-image:url(assets/flags/4x3/at.svg)}
.fi-be{background-image:url(assets/flags/4x3/be.svg)}
.fi-bg{background-image:url(assets/flags/4x3/bg.svg)}
.fi-dk{background-image:url(assets/flags/4x3/dk.svg)}
.fi-fi{background-image:url(assets/flags/4x3/fi.svg)}
.fi-gr{background-image:url(assets/flags/4x3/gr.svg)}
.fi-hu{background-image:url(assets/flags/4x3/hu.svg)}
.fi-no{background-image:url(assets/flags/4x3/no.svg)}
.fi-nl{background-image:url(assets/flags/4x3/nl.svg)}
.fi-pl{background-image:url(assets/flags/4x3/pl.svg)}
.fi-pt{background-image:url(assets/flags/4x3/pt.svg)}
.fi-cz{background-image:url(assets/flags/4x3/cz.svg)}
.fi-ro{background-image:url(assets/flags/4x3/ro.svg)}
.fi-se{background-image:url(assets/flags/4x3/se.svg)}
.fi-ch{background-image:url(assets/flags/4x3/ch.svg)}
.fi-tr{background-image:url(assets/flags/4x3/tr.svg)}
.fi-ie{background-image:url(assets/flags/4x3/ie.svg)}
.fi-af{background-image:url(assets/flags/4x3/af.svg)}
.fi-bd{background-image:url(assets/flags/4x3/bd.svg)}
.fi-mm{background-image:url(assets/flags/4x3/mm.svg)}
.fi-kw{background-image:url(assets/flags/4x3/kw.svg)}
.fi-la{background-image:url(assets/flags/4x3/la.svg)}
.fi-sa{background-image:url(assets/flags/4x3/sa.svg)}
.fi-kr{background-image:url(assets/flags/4x3/kr.svg)}
.fi-kp{background-image:url(assets/flags/4x3/kp.svg)}
.fi-iq{background-image:url(assets/flags/4x3/iq.svg)}
.fi-ir{background-image:url(assets/flags/4x3/ir.svg)}
.fi-il{background-image:url(assets/flags/4x3/il.svg)}
.fi-jo{background-image:url(assets/flags/4x3/jo.svg)}
.fi-lb{background-image:url(assets/flags/4x3/lb.svg)}
.fi-my{background-image:url(assets/flags/4x3/my.svg)}
.fi-ph{background-image:url(assets/flags/4x3/ph.svg)}
.fi-pk{background-image:url(assets/flags/4x3/pk.svg)}
.fi-sg{background-image:url(assets/flags/4x3/sg.svg)}
.fi-lk{background-image:url(assets/flags/4x3/lk.svg)}
.fi-sy{background-image:url(assets/flags/4x3/sy.svg)}
.fi-hk{background-image:url(assets/flags/4x3/hk.svg)}
.fi-cn{background-image:url(assets/flags/4x3/cn.svg)}
.fi-au{background-image:url(assets/flags/4x3/au.svg)}
.fi-in{background-image:url(assets/flags/4x3/in.svg)}
.fi-jp{background-image:url(assets/flags/4x3/jp.svg)}
.fi-th{background-image:url(assets/flags/4x3/th.svg)}
.fi-vn{background-image:url(assets/flags/4x3/vn.svg)}
.fi-ye{background-image:url(assets/flags/4x3/ye.svg)}
.fi-bh{background-image:url(assets/flags/4x3/bh.svg)}
.fi-bn{background-image:url(assets/flags/4x3/bn.svg)}
.fi-ae{background-image:url(assets/flags/4x3/ae.svg)}
.fi-tw{background-image:url(assets/flags/4x3/tw.svg)}
.fi-id{background-image:url(assets/flags/4x3/id.svg)}
.fi-kh{background-image:url(assets/flags/4x3/kh.svg)}
.fi-np{background-image:url(assets/flags/4x3/np.svg)}
.fi-om{background-image:url(assets/flags/4x3/om.svg)}
.fi-qa{background-image:url(assets/flags/4x3/qa.svg)}
.fi-us{background-image:url(assets/flags/4x3/us.svg)}
.fi-ca{background-image:url(assets/flags/4x3/ca.svg)}
.fi-nz{background-image:url(assets/flags/4x3/nz.svg)}
.fi-ar{background-image:url(assets/flags/4x3/ar.svg)}
.fi-br{background-image:url(assets/flags/4x3/br.svg)}
.fi-cl{background-image:url(assets/flags/4x3/cl.svg)}
.fi-ec{background-image:url(assets/flags/4x3/ec.svg)}
.fi-py{background-image:url(assets/flags/4x3/py.svg)}
.fi-pe{background-image:url(assets/flags/4x3/pe.svg)}
.fi-uy{background-image:url(assets/flags/4x3/uy.svg)}
.fi-un{background-image:url(assets/flags/4x3/un.svg)}
